In [ ]:
import pandas as pd

In [ ]:
import seaborn as sns

In [ ]:
df=pd.read_csv('dataset.csv')

In [ ]:
df.head(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
#Only races in USA in 2020 with 50k and 50 mi
#only 50 mi now
df[df['Event distance/length']=='50mi']

In [ ]:
#50k and 50mi
df[df['Event distance/length'].isin(['50km','50mi'])]

In [ ]:
#50k and 50mi in 2020
df[(df['Event distance/length'].isin(['50km','50mi']))& (df['Year of event']==2020)]

In [ ]:
#in the USA events
df[df['Event name']=='Everglades 50 Mile Ultra Run (USA)']

In [ ]:
#splitting USA name
df[df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0)=='USA']

In [ ]:
#Add those USA events into a dataframe
df1=df[df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0)=='USA']

In [ ]:
df1.head(10)

In [ ]:
#combining all the filters feom above togetherand name it as df2
df2=df[(df['Event distance/length'].isin(['50km','50mi']))& (df['Year of event']==2020)& (df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0)=='USA')]

In [ ]:
df2.head(10)

In [ ]:
df2.shape

In [ ]:
#Removing USA name from all the events and overriding the data fram 2
df2['Event name']=df2['Event name'].str.split('(').str.get(0)

In [ ]:
df2.head(10)

In [ ]:
#Clening up the athlete age
#2020 is the year inwhich the race took place
df2['Athlete age']=2020-df2['Athlete year of birth']

In [ ]:
#To elimijnate h from athlete performance 
df2['Athlete performance'].str.split(' ').str.get(0)

In [ ]:
#Dropping columns now
#Axis=1 specifies pandas to drop columns. If Axis=0 then pandas drops rows specified in the drop function
df2=df2.drop(['Athlete club','Athlete country','Athlete year of birth','Athlete age category'],axis=1)

In [ ]:
df2.head(10)

In [ ]:
#cleaning up null values
#The below lines say exactly where the null values are
df2.isna().sum()

In [ ]:
#Idenitfying all the Athlete age rows with just the null values
df2[df2['Athlete age'].isna()==1]
#Ran he query later after dropping the column

In [ ]:
#Dropping all null values 
df2=df2.dropna()

In [ ]:
df2.shape

In [ ]:
#Checking for any duplicates
df2[df2.duplicated()==True]

In [ ]:
#Resetting the values
df2.reset_index()
#If I dont run the drop command above I can use it here as below command ie
# df2.reset_index(drop=True)

In [ ]:
#Changing the types
df2.dtypes

In [ ]:
#Converting avergae age to int 
df2['Athlete age']=df2['Athlete age'].astype(int)

In [ ]:
df2.dtypes

In [ ]:
#Converting average speed to float
df2['Athlete average speed']=df2['Athlete average speed'].astype(float)

In [ ]:
df2.dtypes

In [ ]:
#Renaming the column names for ease
df2=df2.rename(columns={
    'Year of event':'year',
'Event dates':  'race_dates',
'Event name':'race_name'   ,
'Event distance/length':'race_length'   ,
'Event number of finishers':'race_number_of_finishers',
'Athlete performance':'athlete_performance',     
'Athlete gender':'athlete_gender',          
'Athlete average speed':'athlete_average_speed',
'Athlete ID':'athlete_id'          ,
    'Athlete age':'athlete_age'
    
    })

In [ ]:
#We can reorder the columns
df3=df2[['race_dates','race_name','race_length','race_number_of_finishers','athlete_id','athlete_gender','athlete_age','athlete_performance','athlete_average_speed','year']]

In [ ]:
df3.head()

In [ ]:
#finding 2 races rn in 2020
df3[df3['race_name']=='Everglades 50 Mile Ultra Run ']

In [ ]:
#Identifying an athlete
df3[df3['athlete_id']==222509]

In [ ]:
#histogram plots
sns.histplot(df3['race_length'])

In [ ]:
#Based on males and femles
#sns.histplot(data=df, x='column_name', palette='viridis', bins=50)
sns.histplot(df3,x='race_length',hue='athlete_gender')

In [ ]:
#Lets check displot for 50 miles based on averagespeed
sns.displot(df3[df3['race_length']=='50mi']['athlete_average_speed'])

In [ ]:
sns.violinplot(df3,x='race_length',y='athlete_average_speed',hue='athlete_gender',split=True)

In [ ]:
#lmplot
sns.lmplot(df3,x='athlete_age',y='athlete_average_speed',hue='athlete_gender')

In [ ]:
#questions I want to find out from data

In [ ]:
#difference in speed for 50km,50mi male to female
df3.groupby(['race_length','athlete_gender'])['athlete_average_speed'].mean()

In [ ]:
#What age groups are the best in 50km race(20+ races min)(show 15)
df3.query('race_length=="50mi"').groupby('athlete_age')['athlete_average_speed'].agg(['mean','count']).sort_values('mean',ascending=False).query('count>19').head(15)

In [ ]:
#What age groups are the worst in 50km race(20+ races min)(show 20)
df3.query('race_length=="50mi"').groupby('athlete_age')['athlete_average_speed'].agg(['mean','count']).sort_values('mean',ascending=True).query('count>10').head(20)

In [ ]:
#Slower in the summer over winter?

#spring 3-5
#summer 6-8
#fall 9-11
#winter 12-2
#split between two decimals

In [ ]:
df3['race_month']=df3['race_dates'].str.split('.').str.get(1).astype(int)

In [ ]:
#Lamba is a parameter used here under apply function to add a new column

In [ ]:
df3['race_season']=df3['race_month'].apply(lambda x: 'Winter' if x>11 else 'Fall' if x>8 else 'Summer' if x>5 else 'Spring' if x>2 else 'Winter')

In [ ]:
df3.head(25)

In [ ]:
df3.groupby('race_season')['athlete_average_speed'].agg(['mean','count']).sort_values('mean',ascending=False)

In [ ]:
#50 miler only
df3.query("race_length=='50mi'").groupby('race_season')['athlete_average_speed'].agg(['mean','count']).sort_values('mean',ascending=False)